{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
<div class="row-form" style="width: 400px;">
    <div class="col" id="some-custom-id">
    {{ form_row(registrationForm.username) }}
    </div>
    <div class="col" id="some-custom-id">
        {{ form_row(registrationForm.email) }}
    </div>
    <div class="col" id="some-custom-id">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    </div>
    <div class="col" id="some-custom-id">
        {{ form_row(registrationForm.agreeTerms) }}
    </div>
        <button type="submit" class="btn register-btn" >Register</button>
    {{ form_end(registrationForm) }}
</div>

    <div id="login" class="row-form register-row">
        <h2 class="title small-title" style="margin-top: 0;">Already have an account?</h2>
        <strong>Log in&#160;? <a id="linkLogin" class="text-link" href="/login" title="Run to login page" style="color: #ff6c71;">I log in to my account</a></strong>
    </div>
{% endblock %}
