{% extends 'base.html.twig' %}
{% block title %}All Questions{% endblock %}


{% block body %}
<div class="container-bc">
    <ul class="breadcrumb">
        <a href="/">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Home</span>
            </span>
        </li>
        </a>
        <li class="breadcrumb__item" style="background-color: #f5c2c7">
            <span class="breadcrumb__inner">
            <span class="breadcrumb__title" >Question</span>
            </span>
        </li>
    </ul>
</div>

<div class="container mt-3">
    <div class="row justify-content-between">
        <div class="col-lg-6">
            <h3 class="header">All Questions</h3>
        </div>
        <div class="col-3.5 pt-4">
            <a id="ask" href="{{ path('question_new') }}"><button class="btn ask" type="button" >Ask question</button></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-7">
            {% if ('?tab=newest' not in (app.request.requesturi)) and ('?tab=active' not in (app.request.requesturi)) and ('?tab=unanswered' not in (app.request.requesturi))%}
                <h6 class="mb-0"> {{ questions|length }} Question(s)</h6>
            {% endif %}
        </div>
        <div class="col-5">
            <ul class="list-inline">
                <a href="?tab=newest" class="filter"><li class="list-inline-item filter border {% if '?tab=newest' in (app.request.requesturi) %}filterSelected{% endif %}" >Newest</li></a>
                <a href="?tab=active" class="filter"><li class="list-inline-item filter border {% if '?tab=active' in (app.request.requesturi) %}filterSelected{% endif %}">Active</li></a>
                <a href="?tab=unanswered" class="filter "><li class="list-inline-item filter border {% if '?tab=unanswered' in (app.request.requesturi) %}filterSelected{% endif %}">Unanswered</li></a>
            </ul>
        </div>
    </div>
</div>

    {% if '?tab=newest' in (app.request.requesturi) %}
        {% for question in questions|sort|reverse %}
            <div class="container">
                <div class="row justify-content-center" >
                    <div class="col-lg-1 myquestion">
                        <div class="status">
                            <strong>{{ question.answers.count }}</strong>
                            <p><small>Answers</small></p>
                        </div>
                    </div>
                    <div class="col-question col-lg-8" >
                        <div>
                            <a href="{{ path('question_show', {slug: question.slug}) }}" class="title-question">
                                {{ question.title }}</a>
                            <p>{{ question.content|striptags|u.truncate(200, '...')|raw }}</p>
                        </div>
                    </div>
                    {% for tag in question.tags %}
                    <div class="col-sm align-self-center">
                        <p class="tag  ms-5 mb-1"><span><small><a href="{{ path('tag_question', {slug: tag.slug}) }}">{{ tag.name }}</a></small></span></p>
                        {% endfor %}
                        <div class="col-lg-3 m-4">
                        <p class="text-muted m-4" style="width: 150px">
                            <small>Asked on: {{ question.createdAt|date("m/d/Y") }}
                            <span class="text-info"> {{ question.user.username }}</span>
                            </small>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    {% elseif '?tab=unanswered' in (app.request.requesturi) %}
        {% set count = 0 %}
        {% for question in questions %}
            {% if question.answers.count == 0 %}
                {% set count = count+1 %}
            <div class="container">
                <div class="row justify-content-center" >
                    <div class="col-lg-1 myquestion">
                        <div class="status">
                            <strong>{{ question.answers.count }}</strong>
                            <p><small>Answers</small></p>
                        </div>
                    </div>
                    <div class="col-question col-lg-8" >
                        <div class="">
                            <a href="{{ path('question_show', {slug: question.slug}) }}" class="title-question">
                                {{ question.title }}</a>
                            <p>{{ question.content|striptags|u.truncate(200, '...')|raw }}</p>
                        </div>
                    </div>
                    {% for tag in question.tags %}
                    <div class="col-sm align-self-center">
                        <p class="tag  ms-5 mb-1"><span><small><a href="{{ path('tag_question', {slug: tag.slug}) }}">{{ tag.name }}</a></small></span></p>
                        {% endfor %}
                        <div class="col-lg-3 m-4">
                        <p class="text-muted m-4" style="width: 150px">
                            <small>Asked on: {{ question.createdAt|date("m/d/Y") }}
                            <span class="text-info"> {{ question.user.username }}</span>
                            </small>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    {% elseif '?tab=active' in (app.request.requesturi) %}
        {% for question in questions %}
            {% if not question.validated(question.answers) %}
            <div class="container">
                <div class="row justify-content-center" >
                    <div class="col-lg-1 myquestion">
                        <div class="status">
                            <strong>{{ question.answers.count }}</strong>
                            <p><small>Answers</small></p>
                        </div>
                    </div>
                    <div class="col-question col-lg-8" >
                        <div class="">
                            <a href="{{ path('question_show', {slug: question.slug}) }}" class="title-question">
                                {{ question.title }}</a>
                            <p>{{ question.content|striptags|u.truncate(200, '...')|raw }}</p>
                        </div>
                    </div>
                    {% for tag in question.tags %}
                    <div class="col-sm align-self-center">
                        <p class="tag  ms-5 mb-1"><span><small><a href="{{ path('tag_question', {slug: tag.slug}) }}">{{ tag.name }}</a></small></span></p>
                        {% endfor %}
                        <div class="col-lg-3 m-4">
                            <p class="text-muted m-4" style="width: 150px">
                                <small>Asked on: {{ question.createdAt|date("m/d/Y") }}
                                <span class="text-info"> {{ question.user.username }}</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% else %}
        {% for question in questions %}
            <div class="container">
                <div class="row justify-content-center" >
                    <div class="col-lg-1 myquestion">
                        <div class="status">
                            <strong>{{ question.answers.count }}</strong>
                            <p><small>Answers</small></p>
                        </div>
                    </div>
                    <div class="col-question col-lg-8" >
                        <div class="">
                            <a href="{{ path('question_show', {slug: question.slug}) }}" class="title-question">
                                {{ question.title }}</a>
                            <p>{{ question.content|striptags|u.truncate(200, '...')|raw }}</p>
                        </div>
                    </div>
                    {% for tag in question.tags %}
                    <div class="col-sm align-self-center">
                        <p class="tag  ms-5 mb-1"><span><small><a href="{{ path('tag_question', {slug: tag.slug}) }}">{{ tag.name }}</a></small></span></p>
                        {% endfor %}
                        <div class="col-lg-3 m-4">
                            <p class="text-muted m-4" style="width: 150px">
                                <small>Asked on: {{ question.createdAt|date("m/d/Y") }}
                                <span class="text-info"> {{ question.user.username }}</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% else %}
                <p>No Questions yet</p>
        {% endfor %}
    {% endif %}
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
{% endblock %}
{% block javascripts %}
    <script>
    //Get the button:
    mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
    } else {
    mybutton.style.display = "none";
    }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    </script>
{% endblock %}
