{% extends 'base.html.twig' %}

{% block title %}Question-{{ question.id }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="container-bc">
    <ul class="breadcrumb">
        <a href="/">
            <li class="breadcrumb__item breadcrumb__item-firstChild">
    <span class="breadcrumb__inner">
        <span class="breadcrumb__title">Home</span>
    </span>
            </li>
        </a><a href="/question">
            <li class="breadcrumb__item breadcrumb__item-firstChild">
    <span class="breadcrumb__inner">
        <span class="breadcrumb__title">All questions</span>
    </span>
            </li>
        </a>
        <li class="breadcrumb__item"style="background-color: #f5c2c7">
    <span class="breadcrumb__inner">
    <span class="breadcrumb__title" >{{ question.title|striptags|u.truncate(25, '...') }}</span>
    </span>
        </li>
    </ul>
</div>
    <h1 class="header text-center question-show-title" >{{ question.title }}</h1>
    <p class="text-muted question-show-title1" ><small class="question-show-title-small">Asked {{ question.createdAt|date("m/d/Y") }}<span class="text-info"> {{ question.user.username }}</span></small></p>
    <div class="container">
        <div class="row">
            {% for tag in question.tags %}
                <div class="col-lg-1 ps-3">
                    <p class="tag"><span><small><a href="{{ path('tag_question', {slug: tag.slug}) }}" style="color: #484848">{{ tag.name }}</a></small></span></p>
                </div>
            {% endfor %}
        </div>
            <div class="col-question col-lg-8" >
                <div class="col-8">
                    <p class="content-question"> <style> a { text-decoration: none; color: #ff6c71;}</style>{{ question.content|raw }}</p>
                </div>
            {% if app.user and app.user.id == question.user.id %}
                <a href="{{ path('question_edit', {'slug': question.slug}) }}" class="btn edit">Edit question</a>
            {% endif %}
            </div>
        {% if (question.answers.count) > 0 %}
        <div class="row justify-content-center" >
            <div class="col-question col-lg-8 question-show-answer-count" >
                <h3 class="header">{{ (question.answers.count) }} Answer(s)</h3>
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-center" >
            <div class="col-question col-lg-8" STYLE="border-color: #484848; background-color: #777676; flex-direction: column; margin-bottom: 30px !important;">
                {% for answer in question.answers %}
                    <div class="row ">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            {% if (answer.isValid) %}
                             <div class="js-accepted-answer-indicator flex--item fc-green-500 py6 mtn8 col-1" data-s-tooltip-placement="right" tabindex="0" role="note" aria-label="Accepted" data-controller="null s-tooltip" aria-describedby="--stacks-s-tooltip-vtqs3f50">
                                 <div class="ta-center">
                                     <svg aria-hidden="true" class="svg-icon iconCheckmarkLg" width="36" height="36" viewBox="0 0 36 36"><path d="m6 14 8 8L30 6v8L14 30l-8-8v-8Z"></path></svg>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                <div class="col-sm-8 col-lg-8 col-md-8 pt-3">
                    <p><span class="text-info answer">{{ answer.user.username }}</span>
                        <span class="text-muted-show ms-4"><small>Answered : {{ answer.createdAt|date("m/d/Y") }}</small></span></p>
                    <p>{{ answer.content|raw }}</p>
                </div></div>
            <div class="row border-bottom pb-3">
                    {% if app.user == question.user %}
                        {% if not (answer.isValid) %}

                            <!--<button type="submit" class="btn btn-outline-success" style="width: 215px">Validate this answer</button>-->
                            <a href="{{ path('myquestion_validateAnswer', {'id': answer.id }) }}" onclick="return confirm('Please confirm to validate this answer');" class="btn valid" style="width: 215px">Validate this answer</a>

                        {% endif %}
                    {% endif %}</div>

                        {% else %}
                {% if (question.answers.count) == 0 %}
                <div class="col-8" style="text-align: center;">
                    <h4 class="title small-title" style="margin-top: 0;">Be the first to answer this question!</h4>
                    {% if not app.user %}
                        <strong><a id="linkLogin" class="text-link" href="/login" title="Run to login page" style="color: #f67b7f;">I log in to my account</a></strong>
                    {% endif %}
                {% endif %}

                </div>
            {% endfor %}
        </div>
    </div>
        </div>
    </div>
{% if app.user %}
    <div class="container">
        <div class="row justify-content-center">
             <div class="col-8">
                <h4>Your answer</h4>
            </div>
        </div>
        <div class="row-form justify-content-center">
            <div class="col-8">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div class="row answer-row">
            <div class="col" id="some-custom-id">
                {{ form_row(form.content) }}
            </div>
        </div>
        <button  type="submit" class="btn btnAnswer">Send answer</button>
        {{ form_end(form) }}
            </div>
        </div>
    </div>
{% else %}
    {% if (question.answers.count) > 0 %}
            <h4 class="title small-title" style="margin-top: 0;">To answer this question :</h4>
            <strong><a id="linkLogin" class="text-link" href="/login" title="Run to login page" style="color: #ff6c71;">I log in to my account</a></strong>
    {% endif %}
{% endif %}
    </div>
{% endblock %}
