<img class="logo" src="/images/logoWildO.png" alt="logo">
<div class="navigation">
    <ul class="nav">
        <li class="list {% if app.request.get('_route') == 'home' %}active{% endif %}">
            <a href="/">
            <span class="icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
                <span class="text">Home</span>
            </a>
        </li>
        <li class="list {% if (app.request.get('_route') == 'question_index') or (app.request.get('_route') == 'tag_question') or (app.request.get('_route') == 'question_show') %}active{% endif %}">
            <a href="/question">
            <span class="icon">
              <ion-icon name="help-outline"></ion-icon>
            </span>
                <span class="text">Questions</span>
            </a>
        </li>
        <li class="list {% if app.request.get('_route') == 'about' %}active{% endif %}">
            <a href="/about">
            <span class="icon">
              <ion-icon name="information-outline"></ion-icon>
            </span>
                <span class="text">About</span>
            </a>
        </li>
        <li class="list {% if app.request.get('_route') == 'contact' %}active{% endif %}">
            <a href="/contact">
            <span class="icon">
              <ion-icon name="mail-outline"></ion-icon>
            </span>
                <span class="text">Contact us</span>
            </a>
        </li>
        <li class="nav-item dropdown list {% if (app.request.get('_route') == 'question_edit') or (app.request.get('_route') == 'myquestion_index') or (app.request.get('_route') == 'app_login') or (app.request.get('_route') == 'app_register') or (app.request.get('_route') == 'question_new') %}active{% endif %}" >
            <a data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="icon">
                    <ion-icon name="person-outline"></ion-icon>
                </span>
                <span class="text">Profile</span>
            </a>

            {% if app.user %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('myquestion_index') }}">My Questions</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout', {'token':csrf_token('logout')}) }}">Logout</a>
                </div>
            {% else %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('app_login') }}"> Login </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_register') }}">Register</a>
                </div>
            {% endif %}
        </li>
        <li>{% if app.user %}<span style="color: #fff;">Hello {{ app.user.username }}</span>{% endif %}</li>
        <div class="indicator"></div>

    </ul>
</div>
{% block javascripts %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}
