{% extends 'base.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block body %}
<div>
<div class="container-bc">
    <ul class="breadcrumb">
        <a href="/">
            <li class="breadcrumb__item breadcrumb__item-firstChild">
        <span class="breadcrumb__inner">
            <span class="breadcrumb__title">Home</span>
        </span>
            </li>
        </a>
        <a href="/question">
            <li class="breadcrumb__item breadcrumb__item-firstChild">
        <span class="breadcrumb__inner">
            <span class="breadcrumb__title">All questions</span>
        </span>
            </li>
        </a>
        <li class="breadcrumb__item"style="background-color: #f5c2c7">
        <span class="breadcrumb__inner">
        <span class="breadcrumb__title" >{{ tag.name }}</span>
        </span>
        </li>
    </ul>
<div class="container mt-3">
    <div class="row justify-content-between">
        <div class="col-6">
            <h3>Questions tagged [{{ tag.name }}]</h3>
        </div>
        <div class="col-3.5 pt-3">
            <button class="btn ask" type="button" ><a id="ask" href="{{ path('question_new') }}">Ask question</a></button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-7">
            {% if ('?tab=newest' not in (app.request.requesturi)) and ('?tab=active' not in (app.request.requesturi)) and ('?tab=unanswered' not in (app.request.requesturi))%}
                <h4> {{ tag.questions.count }} Question(s)</h4>
            {% endif %}
        </div>
        <div class="col-5">
            <ul class="list-inline">
                <a href="?tab=newest" class="filter"><li class="list-inline-item filter border {% if '?tab=newest' in (app.request.requesturi) %}filterSelected{% endif %}" >Newest</li></a>
                <a href="?tab=active" class="filter"><li class="list-inline-item filter border {% if '?tab=active' in (app.request.requesturi) %}filterSelected{% endif %}">Active</li></a>
                <a href="?tab=unanswered" class="filter"><li class="list-inline-item filter border {% if '?tab=unanswered' in (app.request.requesturi) %}filterSelected{% endif %}">Unanswered</li></a>
            </ul>
        </div>
    </div>
</div>
    {% if '?tab=newest' in (app.request.requesturi) %}
        {% for question in tag.questions|sort|reverse %}
            <!--{{ question.createdAt|date('Y-m-d H:i:s') }}-->
            <div class="container">
                <div class="row justify-content-center" >
                    <div class="col-lg-1" style=" margin-right: 20px; margin-left: 85px;padding-right: 70px;">
                        <div class="status">
                            <strong>{{ question.answers.count }}</strong>
                            <p><small>Answers</small></p>
                        </div>
                    </div>
                    <div class="col-question col-lg-8" >
                        <div>
                            <a href="{{ path('question_show', {slug: question.slug}) }}" class="title-question">
                                {{ question.title }}</a>
                            <div class="col-8">
                                <p>{{ question.content|striptags|u.truncate(200, '...')|raw }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 m-4">
                        <p class="text-muted" style="width: 150px">
                            <small>Asked on: {{ question.createdAt|date("m/d/Y") }}
                            <span class="text-info"> {{ question.user.username }}</span>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% elseif '?tab=unanswered' in (app.request.requesturi) %}
        {% for question in tag.questions %}
            {% if question.answers.count == 0 %}
                <div class="container">
                    <div class="row justify-content-center " >
                        <div class="col-lg-1 row-question" >
                            <div class="status">
                                <strong>{{ question.answers.count }}</strong>
                                <p><small>Answers</small></p>
                            </div>
                        </div>
                        <div class="col-question col-lg-7" >
                            <div>
                                <a href="{{ path('question_show', {slug: question.slug}) }}" class="title-question">
                                {{ question.title }}</a>
                                <div class="col-8">
                                    <p>{{ question.content|striptags|u.truncate(200, '...')|raw }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 m-4">
                            <p class="text-muted" style="width: 150px">
                                <small>Asked on: {{ question.createdAt|date("m/d/Y") }}
                                    <span class="text-info"> {{ question.user.username }}</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% elseif '?tab=active' in (app.request.requesturi) %}
        {% for question in tag.questions %}
            {% if not question.validated(question.answers) %}
                <div class="container">
                    <div class="row justify-content-center" >
                        <div class="col-lg-1 row-question" >
                            <div class="status">
                                    <strong>{{ question.answers.count }}</strong>
                                    <p><small>Answers</small></p>
                            </div>
                        </div>
                    <div class="col-question col-lg-8" >
                        <div>
                            <a href="{{ path('question_show', {slug: question.slug}) }}" class="title-question">
                                    {{ question.title }}</a>
                            <div class="col-8">
                                <p>{{ question.content|striptags|u.truncate(200, '...')|raw }}</p>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-3 m-4">
                            <p class="text-muted" style="width: 150px">
                                <small>Asked on: {{ question.createdAt|date("m/d/Y") }}
                                <span class="text-info"> {{ question.user.username }}</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for question in tag.questions %}
            <div class="container">
                <div class="row justify-content-center row-question" >
                    <div class="col-lg-1 row-question" >
                        <div class="status">
                            <strong>{{ question.answers.count }}</strong>
                            <p><small>Answers</small></p>
                        </div>
                    </div>
                    <div class="col-question col-lg-8" >
                        <div>
                            <a href="{{ path('question_show', {slug: question.slug}) }}" class="title-question">
                                {{ question.title }}</a>
                            <div class="col-8">
                                <p>{{ question.content|striptags|u.truncate(200, '...')|raw }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 m-4">
                        <p class="text-muted" style="width: 150px">
                            <small>Asked on: {{ question.createdAt|date("m/d/Y") }}
                            <span class="text-info"> {{ question.user.username }}</span>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No Question yet</p>
        {% endfor %}
    {% endif %}
</div>
</div>
{% endblock %}
